<div class="container ">
    <h1 class="mt-5">Registro de Usuário</h1>
    <form [formGroup]="form" (ngSubmit)="register()">

        <div class="row mb-3">
            <div class="col-4">
                <mat-form-field appearance="outline">
                    <mat-label>Nome</mat-label>
                    <input
                        matInput
                        formControlName="name"
                        >
                    <mat-error>O campo nome é obrigatório</mat-error>
                </mat-form-field>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-4">
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input
                        type="email"
                        matInput
                        formControlName="email"
                        >
                    <mat-error>O campo email é obrigatório</mat-error>
                </mat-form-field>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-4">
                <mat-form-field appearance="outline">
                    <mat-label>Senha</mat-label>
                    <input
                        type="password"
                        matInput
                        formControlName="password"
                    >
                    <mat-error>O campo senha é obrigatório</mat-error>
                </mat-form-field>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-4">
                <mat-form-field appearance="outline">
                    <mat-label>Perfil</mat-label>
                    <mat-select formControlName="role">
                      <mat-option value="USER" selected>Usuário</mat-option>
                      <mat-option value="ADMIN">Admin</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-4">
                <button mat-flat-button color="primary" [disabled]="form.invalid">
                    Salvar
                </button>
            </div>
        </div>


    </form>
</div>