<mat-card>
  <mat-card-header>
    <!-- <span class="tag-status status-canceled">Consulta Cancelada</span> -->
    <span class="tag-status status-scheduled">Agendada</span>
    <!-- <span class="tag-status status-completed">Concluída</span> -->
</mat-card-header>
  <mat-card-content>
    <mat-card-title>Sábado, 20/02 - 12:00</mat-card-title>
    <mat-card-subtitle class="specialty">Especialidade</mat-card-subtitle>
    <mat-card-subtitle>Doctor Name</mat-card-subtitle>
    <span class="observation">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aspernatur, ipsum.</span>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-button>Editar</button>
    <button mat-button color="warn">Cancelar</button>
  </mat-card-actions>
</mat-card>
