mat-card {
  max-width: 30rem;
}

mat-card-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

mat-card-content {
  padding-top: 16px;
}

mat-card-actions {
  gap: 8px;
}

mat-card-title {
  color: rgb(0, 92, 187);
}

.tag-status {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.1px;
  line-height: 22px;
  width: 100%;
  text-align: center;
  padding: 6px 0;
  border-radius: 4px;
}

.status-canceled {
  color: rgb(244, 67, 54);
  background-color: rgba(244, 67, 54, 0.04);
}

.status-scheduled {
  color: rgb(0, 92, 187);
  background-color: rgba(0, 92, 187, 0.04);
}

.status-completed {
  color: rgb(77, 194, 93);
  background-color: rgba(77, 194, 93, 0.04);
}

.specialty {
  font-weight: 600;
}
.observation {
  display: flex;
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 14px;
  padding: 6px 8px;
  margin-top: 8px;
  border: solid 1px rgba(0, 0, 0, 0.1);
}
