<mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      
    </button>
    <span>Projeto Final</span>
    <span class="example-spacer"></span>
    <button mat-button aria-label="Example icon-button with heart icon">
      Criar Consulta
    </button>
    <button mat-button class="me-3" aria-label="Example icon-button with share icon">
      Consultas
    </button>

    <button mat-button color="primary">Login</button>
  </mat-toolbar>
